body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: antiquewhite
}
.quem-somos{
    background-color: rgb(41, 150, 150);
    color: white;
}
.margin{
    padding-bottom: 20px;
    padding-top: 10px;
}
.parceiros{
    background-color: cornflowerblue;
    color: white;
}
.bg-footer{
    background-color: black;
    color: white
}